<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale = 1">
  <title>{% block title %}Inventory Reports{% endblock %}</title>
  <!-- Include the Bulma CSS framework for styling -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="has-background-light">
    <section class="hero is-small is-black mb-4" >
        <div class="hero-body ">
            <p class="title is-4"><a href="{% url "root_path" %}">Inventory Reports</a></p>
        </div>
    </section>
    <!-- begin div.main-->
    <div class="container">

        {% block content %}
        {% endblock %}
    <!-- end div.main -->
    </div>
</body>
</html>
