{% extends "base.html" %}
{% block content %}
  <section class="section is-small">
    <h2 class="title has-background-light	has-text-black">Incoming items</h2>
    <!--div class ="box">There are no products in your store.</div-->
    <div class="block ">
      <div class="columns is-variable is-1">
        <div class="column is-one-fifth">
          <span class="tag is-info is-light">
            {% if date %}
              Last updated on {{ date }}
            {% else %}
              No update found
            {% endif %} 
          </span>
        </div>
        <!-- START of columns to make it align-->
        <div class="column is-half">
          <p> </p>
        </div>
        <div class="column is-1">
          <p> </p>
        </div>
        <!-- END of columns to make it align-->
        <div class="column">
          <a href="update_page"><button class="button is-light has-text-black">Update</button></a>
        </div>
        <div class="column">
          <a href="export_excel"><button class="button is-success">Export</button></a>
        </div>
        
      </div>
      
    </div>
    <div class="box">
      <div class="table-container">
        <table class="table is-hoverable is-fullwidth">
          {% if items %}
          <thead>
            <tr>
              <th>SKU</th>
              <th>Incoming</th>
              <th>Available</th>
            </tr>
          </thead>
          <tbody>           
              {% for item in items %}
              <tr>
                <th>{{ item.sku }}</th>
                <td>{{ item.incoming }}</td>
                <td>{{ item.available }}</td>
              </tr>
              {% endfor %}
            {% else %}
              <strong>No data found, please update items list.</strong>
            {% endif %}
          </tbody>
        </table>
      </div>
    </table></div>
  </section>
  <section class="section is-medium">

  </section>
{% endblock %}
