{% extends "base.html" %}
{% block content %}
    <h2>You are in!!</h2>
    <h2>Some of your products</h2>
    {% if items %}
        <div class="product box">
        <div class="wrapper">
            <p style="margin: 0"> {{ items }}</p>
            <div style="clear:left"></div>
        </div>
        </div>
    {% endif %}
    {% if levels %}
        <div class="product box">
            <div class="wrapper">
                <p style="margin: 0"> {{ levels }}</p>
                <div style="clear:left"></div>
            </div>
            </div>
    {% endif%}
{% endblock %}